Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Cleanup past ASAN left-overs.
  CMakeLists.txt
  hilti/toolchain/src/asan.cc
  hilti/toolchain/src/global.cc
Due: clang-format

Increase CI memory limit for Ubuntu debug task.
  .cirrus.yml
Due: none

Add a couple cron scripts to repo [skip ci].
  .pre-commit-config.yaml
  ci/cron/README
  ci/cron/spicy-benchmark.sh
  ci/cron/update_spicy_dockerhub.sh
Due: checkbashisms

Add fiber benchmark to cron benchmarking job [skip ci].
  ci/cron/spicy-benchmark.sh
Due: checkbashisms

Increase minimum fiber stack size.
  hilti/runtime/include/configuration.h
Due: clang-format

On macOS, pass CMAKE_OSX_SYSROOT through to JIT linker.
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/src/config.cc.in
Due: none

Add master CI task for macOS BigSur.
  .cirrus.yml
Due: none

Remove pre-commit hooks which require external tool installation.
  .pre-commit-config.yaml
Due: none

Move `spicy::rt::getenv` to `hilti::rt`.
  hilti/runtime/include/util.h
  hilti/runtime/src/configuration.cc
  hilti/runtime/src/tests/util.cc
  hilti/runtime/src/util.cc
  spicy/lib/spicy.spicy
  spicy/runtime/include/util.h
  spicy/runtime/src/tests/util.cc
  spicy/runtime/src/util.cc
Due: clang-format

Fix parsing of empty look-ahead vectors.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.sink.no-data-for-lahead/output
  tests/spicy/types/sink/no-data-for-lahead.spicy
Due: clang-format

Add final newline to ASCII output of spicy-dump.
  spicy/toolchain/bin/spicy-dump/main.cc
  tests/Baseline/spicy.lib.protocols.dns.single/output
  tests/Baseline/spicy.lib.protocols.http.common/reply-chunked
  tests/Baseline/spicy.lib.protocols.http.common/reply-chunked-trailer
  tests/Baseline/spicy.lib.protocols.http.common/reply-content-length
  tests/Baseline/spicy.lib.protocols.http.common/reply-eod
  tests/Baseline/spicy.lib.protocols.http.common/reply-multipart
  tests/Baseline/spicy.lib.protocols.http.common/requests
  tests/Baseline/spicy.tools.spicy-dump/output-json
  tests/Baseline/spicy.tools.spicy-dump/output-json2
  tests/Baseline/spicy.tools.spicy-dump/output-text
  tests/Baseline/spicy.tools.spicy-dump/output-text2
  tests/Baseline/spicy.types.sink.no-data-for-lahead/output
Due: clang-format

Revert "Let autogen-version find VERSION independent of current directory."
  scripts/autogen-version
Due: none

Let the autogen-version script execute out of the top-level directory.
  scripts/autogen-version
Due: none

Allow to enforce sequential execution of jobs spawned during JIT.
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Use sequential JIT mode in CI.
  .cirrus.yml
Due: none

Fix Zeek plugin build when toolchain is disabled.
  cmake/Util.cmake
  spicy/toolchain/bin/spicy-config.cc
  spicy/toolchain/include/config.h.in
  zeek/plugin/CMakeLists.txt
  zeek/plugin/include/debug.h
  zeek/plugin/include/driver.h
  zeek/plugin/include/plugin.h
  zeek/plugin/include/zeek-compat.h
  zeek/plugin/include/zeek-reporter.h
  zeek/plugin/src/config.h.in
  zeek/plugin/src/driver.cc
  zeek/plugin/src/plugin.cc
Due: clang-format

Make master-only CI tasks triggerable.
  .cirrus.yml
Due: none

Add CI job to validate release tarball.
  .cirrus.yml
Due: none

Use "default" compiler if possible in Docker images.
  .cirrus.yml
  docker/Dockerfile.alpine-3.12
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.debian-10
  docker/Dockerfile.debian-9
  docker/Dockerfile.fedora-32
  docker/Dockerfile.fedora-33
  docker/Dockerfile.ubuntu-16
  docker/Dockerfile.ubuntu-18
  docker/Dockerfile.ubuntu-20
Due: none

Document more platforms in the installation docs.
  .cirrus.yml
  doc/installation.rst
Due: none

Update CHANGES. [skip ci]
  CHANGES
Due: none

Update gitignore.
  .gitignore
Due: none

Disable output from header compilation.
  scripts/precompile-headers.sh
Due: checkbashisms

Prettify configure output.
  CMakeLists.txt
  configure
Due: none

Do not use #pragma once in libhilti.h
  hilti/runtime/include/libhilti.h
Due: clang-format

Update getting in touch.
  README.md
  doc/index.rst
Due: none

Remove unused TLS baselines.
  tests/Baseline/zeek.evt.tls.tls/google
  tests/Baseline/zeek.evt.tls.tls/tls-extensions
  tests/Baseline/zeek.evt.tls.tls/tls1.2
Due: none

Update script to update license headers.
  scripts/update-license-headers
Due: none

Take out the "beta status" language from README and manual.
  README.md
  doc/index.rst
Due: none

Enforce mininum BTest version.
  tests/btest.cfg
Due: none

Extend spicy-doc to document begin/end operators.
  doc/autogen/types/bytes.rst
  doc/autogen/types/list.rst
  doc/autogen/types/map.rst
  doc/autogen/types/set.rst
  doc/autogen/types/stream.rst
  doc/autogen/types/vector.rst
  hilti/toolchain/include/ast/operators/generic.h
  spicy/toolchain/bin/spicy-doc.cc
Due: clang-format

Fix a couple compile-time issues when building with Zeek 4.0.
  zeek/plugin/include/packet-analyzer.h
  zeek/plugin/src/packet-analyzer.cc
Due: clang-format

Fix a couple of baseline mismatches with Zeek 4.0.
  tests/Scripts/canonify-zeek-log
  tests/zeek/lib/protocols/http.zeek
Due: none

Update CHANGES.
  CHANGES
Due: none

Do not sort all the Zeek log baselines.
  CHANGES
  tests/Baseline/zeek.lib.protocols.dhcp/dhcp.log
  tests/Scripts/canonify-zeek-log
  tests/zeek/lib/protocols/dhcp.spicy
Due: none

Allow to pass mime type to data_in when sending data to Zeek.
  tests/Baseline/zeek.evt.file-analysis-data-in/x509.log
  tests/Baseline/zeek.lib.protocols.dhcp/dhcp.log
  tests/Baseline/zeek.lib.protocols.dns/conn.log
  tests/Baseline/zeek.lib.protocols.dns/dns.log
  tests/Baseline/zeek.lib.protocols.http/conn.log
  tests/Baseline/zeek.lib.protocols.http/files.log
  tests/Baseline/zeek.lib.protocols.http/http.log
  tests/Baseline/zeek.lib.protocols.tftp/conn.rrq.log
  tests/Baseline/zeek.lib.protocols.tftp/conn.wrq.log
  tests/Baseline/zeek.lib.protocols.tftp/tftp.rrq.log
  tests/Baseline/zeek.lib.protocols.tftp/tftp.wrq.log
  tests/Scripts/canonify-zeek-log
  tests/Scripts/diff-remove-timestamps
  tests/zeek/evt/file-analysis-data-in.zeek
  zeek/plugin/include/runtime-support.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Pretty complete TLS (SSL3.0-TLS1.3) parser
  spicy/lib/protocols/tls.spicy
  tests/Baseline/zeek.lib.protocols.tls/ssl-ecdhe.log
  tests/Baseline/zeek.lib.protocols.tls/ssl-tls-conn-with-extensions.log
  tests/Baseline/zeek.lib.protocols.tls/ssl-tls13draft23-chrome67.0.3368.0-canary.log
  tests/Baseline/zeek.lib.protocols.tls/x509-ecdhe.log
  tests/Baseline/zeek.lib.protocols.tls/x509-tls-conn-with-extensions.log
  tests/Traces/README
  tests/Traces/tls/ecdhe.pcap
  tests/Traces/tls/tls-conn-with-extensions.trace
  tests/Traces/tls/tls13draft23-chrome67.0.3368.0-canary.pcap
  tests/zeek/lib/protocols/tls.spicy
  zeek/plugin/lib/protocols/tls.evt
  zeek/plugin/lib/protocols/zeek_TLS.spicy
Due: none

Remove configure support for `--disable-jit`/`--disable-jit-for-zeek`.
  ci/run-ci
  configure
Due: none
