Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

checkbashisms:
  name: Check for bashisms in /bin/sh scripts
  entry: ./tests/Scripts/3rdparty/checkbashisms.pl
  language: script

clang-format:
  name: Run clang-format on code
  entry: ./scripts/run-clang-format
  args:
  - --pre-commit-hook
  language: script

fixup! Add codeql analysis workflow.
  .github/workflows/codeql-analysis.yml
Due: none

DO NOT MERGE: Add debug logging to configure.
  configure
Due: none

Fully qualify some identifiers when emitting C++.
  hilti/toolchain/src/compiler/codegen/codegen.cc
  hilti/toolchain/src/compiler/codegen/statements.cc
  hilti/toolchain/src/compiler/codegen/types.cc
  hilti/toolchain/src/compiler/cxx/elements.cc
  tests/Baseline/hilti.hiltic.print.globals/output
  tests/Baseline/hilti.hiltic.print.import/output
  tests/Baseline/hilti.types.real.nops/output
Due: clang-format

Do not emit `__init_globals` if there are no globals.
  hilti/toolchain/src/compiler/codegen/codegen.cc
Due: clang-format

Fix bug in emission of prioritized types.
  hilti/toolchain/src/compiler/cxx/unit.cc
Due: clang-format

Add validation rejection type declarations for bitfields.
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.bitfield.typedecl-fail/output
  tests/spicy/types/bitfield/typedecl-fail.spicy
Due: clang-format

Make sure types required for globals are declared before being used.
  hilti/toolchain/src/compiler/codegen/codegen.cc
  tests/hilti/codegen/globals-deps.hlt
Due: clang-format

Add TODO to docs on unit initialization via list coercion.
  doc/programming/language/types.rst
Due: none

Show diff if pre-commit fails in CI [skip CI].
  ci/run-ci
Due: none

Make Spicy prefix visible for CI jobs testing spicy-[plugin|analyzers].
  .cirrus.yml
Due: none

Fix build for RTD.
  doc/requirements.txt
Due: none

Remove unused `created` field in linker version.
  hilti/runtime/include/library.h
  hilti/runtime/src/library.cc
  hilti/toolchain/src/compiler/cxx/linker.cc
Due: clang-format

Compute module linker scope variable from module contents.
  hilti/toolchain/src/compiler/cxx/linker.cc
  tests/hilti/rt/linker-scope.hlt
Due: clang-format

Include HILTI config in JIT hash.
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/include/config.h.in
  hilti/toolchain/src/compiler/jit.cc
  hilti/toolchain/src/config.cc.in
Due: clang-format

Allow use of ccache during JIT.
  doc/toolchain.rst
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Use compiler launcher from ccache if one was used there.
  .cirrus.yml
  doc/toolchain.rst
  hilti/toolchain/bin/hilti-config.cc
  hilti/toolchain/include/config.h.in
  hilti/toolchain/src/compiler/jit.cc
  hilti/toolchain/src/config.cc.in
  spicy/toolchain/bin/spicy-config.cc
Due: clang-format

Avoid unneeded parameter copy.
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Extend hashCombine so it can combine more than two hashes.
  hilti/runtime/include/util.h
  hilti/runtime/src/tests/util.cc
Due: clang-format

Fix extension of precompiled headers.
  hilti/toolchain/src/config.cc.in
  scripts/precompile-headers.sh
Due: checkbashisms

Explicitly enforce that a module is only registered once.
  hilti/runtime/include/init.h
  hilti/runtime/src/init.cc
  hilti/runtime/src/tests/global-state.cc
  hilti/runtime/src/tests/init.cc
  hilti/toolchain/src/compiler/cxx/unit.cc
  tests/Baseline/hilti.ast.basic-module/output
  tests/Baseline/hilti.ast.imported-id/output
  tests/Baseline/hilti.hiltic.print.empty/output
  tests/Baseline/hilti.hiltic.print.globals/output
  tests/Baseline/hilti.hiltic.print.hello-world/output
  tests/Baseline/hilti.hiltic.print.import/output
  tests/Baseline/hilti.hiltic.print.yield/output
  tests/Baseline/hilti.types.real.nops/output
  tests/Baseline/spicy.tools.spicyc-hello-world/test.hlt
Due: clang-format

Ensure cleanup of temporary driver HLTO files on errors.
  hilti/toolchain/src/compiler/driver.cc
  spicy/toolchain/bin/spicy-driver.cc
Due: clang-format

Do not delete temporary files if requested.
  hilti/toolchain/include/compiler/context.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/jit.cc
  tests/hilti/hiltic/jit/keep-temps.hlt
Due: clang-format

Cache JIT results in CI.
  .cirrus.yml
Due: none

Use atomic operations to create temporary files during JIT.
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Use explicit guard controlling deletion of temporary files in JIT.
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Use deterministic locations for files created during JIT.
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/jit.cc
  tests/Baseline/hilti.hiltic.jit.precompiled-globals-twice/output
Due: clang-format

Add basic tests for Spicy `struct` types.
  tests/Baseline/spicy.types.struct.basic/output
  tests/Baseline/spicy.types.struct.parse-fail/output
  tests/spicy/types/struct/basic.spicy
  tests/spicy/types/struct/parse-fail.spicy
Due: none

Add Spicy support for struct initialization.
  spicy/toolchain/src/compiler/parser/parser.yy
  tests/Baseline/spicy.types.struct.basic/output
  tests/spicy/types/struct/basic.spicy
Due: none

Document structs.
  doc/programming/language/types.rst
Due: none

Fix potentially use-after-free in stringification of `stream::View`.
  hilti/runtime/include/types/stream.h
Due: clang-format

Path conditions:
  checkbashisms: any of: .*\.sh, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
  clang-format: any of: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
