Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Fetch and upload binary packages when creating a release.
  .github/workflows/create-release.yml
  scripts/store-release-artifacts
Due: none

Execute full Cirrus CI task matrix for tags.
  .cirrus.yml
Due: none

Rename binary artifacts on release.
  .github/workflows/create-release.yml
Due: none

Couple of doc updates.
  doc/faq.rst
  doc/installation.rst
  doc/zeek.rst
Due: none

Switch versioning scheme for dev versions for 1.0.0 release.
  scripts/autogen-version
Due: none

Fix version string checking out release tags.
  scripts/autogen-version
Due: none

Update links to release artifacts.
  doc/conf.py
  doc/installation.rst
Due: none

Do not take freebsd12 into account for cumulative CI status.
  .cirrus.yml
Due: none

Directly link to different Docker images in docs.
  doc/installation.rst
Due: none

Do not automatically create `spicy:latest` Docker tag from `main`.
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
Due: none

Document release Docker image.
  doc/installation.rst
Due: none

Add README links for latest release.
  README.md
Due: none

Fix metadata in Docker publishing workflow.
  .github/workflows/docker-tags.yml
  CHANGES
Due: none

Remove build tag for release build from README for now [skip ci].
  README.md
Due: none

Fix leftovers in GH actions from master -> main rename.
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
Due: none

Include build status for 1.0 release branch in README [skip ci].
  README.md
Due: none

Shorten title in README [skip ci].
  README.md
Due: none

Disable 'create-release' and 'docker-tags' workflows for dev tags [skip ci].
  .github/workflows/create-release.yml
  .github/workflows/docker-tags.yml
Due: none

Fix missing normalization of enum label IDs.
  hilti/toolchain/src/compiler/codegen/expressions.cc
Due: clang-format

Add assertion to ensure that code cannot be reached.
  hilti/toolchain/include/ast/operator.h
Due: clang-format

Make spicy compile with bison 3.0.
  CMakeLists.txt
  hilti/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/src/compiler/parser/parser.yy
Due: none

Containers.
  ci/Dockerfile.packages
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.debian-10
  docker/Dockerfile.debian-9
  docker/Dockerfile.ubuntu-16
  docker/Dockerfile.ubuntu-18
Due: none

Fix enum construction from integers.
  doc/autogen/types/enum.rst
  hilti/runtime/CMakeLists.txt
  hilti/runtime/include/types/enum.h
  hilti/runtime/src/tests/enum.cc
  hilti/toolchain/include/ast/operators/common.h
  hilti/toolchain/include/ast/operators/enum.h
  hilti/toolchain/src/compiler/codegen/operators.cc
  tests/hilti/types/enum/ctor.hlt
  tests/spicy/types/enum/from-int.spicy
Due: clang-format

Fix casting integers to enums.
  doc/autogen/types/enum.rst
  doc/autogen/types/integer.rst
  hilti/toolchain/include/ast/operators/signed-integer.h
  hilti/toolchain/include/ast/operators/unsigned-integer.h
  hilti/toolchain/src/compiler/codegen/operators.cc
  tests/Baseline/spicy.types.enum.from-int/output
  tests/spicy/types/enum/from-int.spicy
Due: clang-format

Add support for &size attribute for unit switch statement.
  doc/programming/examples/_parse-switch-size.spicy
  doc/programming/examples/_parse-switch-size.spicy.output
  doc/programming/parsing.rst
  spicy/toolchain/include/ast/types/unit-items/switch.h
  spicy/toolchain/include/compiler/detail/codegen/productions/switch.h
  spicy/toolchain/src/compiler/codegen/grammar-builder.cc
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  spicy/toolchain/src/compiler/parser/parser.yy
  tests/Baseline/spicy.types.unit.switch-size-fail/output
  tests/Baseline/spicy.types.unit.switch/output
  tests/spicy/types/unit/switch-size-fail.spicy
  tests/spicy/types/unit/switch.spicy
Due: clang-format

Perform explicit validation of Spicy module properties.
  spicy/toolchain/src/compiler/visitors/validator.cc
Due: clang-format

Add skip, skip-pre and skip-post properties.
  doc/programming/language/modules.rst
  doc/programming/parsing.rst
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.skip-fail/output
  tests/Baseline/spicy.types.unit.skip/output
  tests/spicy/types/unit/skip-fail.spicy
  tests/spicy/types/unit/skip.spicy
Due: clang-format

Fix versioning for development.
  CHANGES
  scripts/autogen-version
Due: none

Port Spicy to Apple silicon.
  hilti/runtime/src/fiber.cc
  tests/Baseline/hilti.types.real.coercion-fail/output
  tests/Baseline/spicy.types.real.coercion-fail/output
  tests/hilti/types/real/coercion-fail.hlt
  tests/spicy/types/real/coercion-fail.spicy
Due: clang-format

Build Zeek plugin for benchmarking job [skip ci].
  ci/cron/spicy-benchmark.sh
Due: checkbashisms

Fix hook handling for anonymous void fields.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.void/output
  tests/spicy/types/unit/switch-void.spicy
  tests/spicy/types/unit/void.spicy
Due: clang-format

Fix handling of `&size` attribute for anonymous void fields.
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
  tests/Baseline/spicy.types.unit.void/output
  tests/spicy/types/unit/void.spicy
Due: clang-format

Add validation rejecting `$$` in hooks not supporting it.
  hilti/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.dollardollar-fail/output
  tests/spicy/types/unit/dollardollar-fail.spicy
Due: clang-format

Remove commented out code in test.
  tests/Baseline/spicy.types.unit.switch/output
  tests/spicy/types/unit/switch.spicy
Due: none

Return a const ref from const getter for Attribute tag.
  hilti/toolchain/include/ast/attribute.h
Due: clang-format

Validate supported attributes for `void` fields.
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.void-fail/output
  tests/spicy/types/unit/void-fail.spicy
Due: clang-format

Reject `void` fields with names.
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.void-fail/output
  tests/spicy/types/unit/void-fail.spicy
Due: clang-format

Add documentation on how to skip data with `void` fields.
  doc/programming/examples/_parse-void-size.spicy
  doc/programming/examples/_parse-void-size.spicy.output
  doc/programming/parsing.rst
Due: none

Support passing window bits into zlib when decompressing from Spicy.
  doc/autogen/spicy-functions.spicy
  spicy/lib/spicy.spicy
  spicy/runtime/include/zlib_.h
  spicy/runtime/src/tests/zlib.cc
  spicy/runtime/src/zlib.cc
  tests/Baseline/spicy.rt.zlib/output
  tests/spicy/rt/zlib.spicy
Due: clang-format

Force type information to come last in generated C++ code.
  hilti/toolchain/src/compiler/cxx/unit.cc
Due: clang-format
