Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Automatically update VERSION file as part of the build.
  CMakeLists.txt
  scripts/autogen-version
  scripts/make-tarball.sh
Due: checkbashisms

Disable default building of Zeek plugin.
  .cirrus.yml
  CMakeLists.txt
  ci/run-ci
  configure
Due: none

Add `!in` to HILTI and Spicy parser.
  hilti/toolchain/include/ast/operator.h
  hilti/toolchain/src/compiler/parser/parser.yy
  hilti/toolchain/src/compiler/parser/scanner.ll
  spicy/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/src/compiler/parser/scanner.ll
  tests/hilti/types/bytes/ops.hlt
  tests/hilti/types/map/ops.hlt
  tests/hilti/types/network/ops.hlt
  tests/hilti/types/set/ops.hlt
Due: clang-format

Automatically generate docs for `!in` if `in` is defined.
  doc/autogen/types/bytes.rst
  doc/autogen/types/map.rst
  doc/autogen/types/set.rst
  doc/autogen/types/stream-view.rst
  doc/scripts/spicy-doc-to-rst
Due: none

Format scripts/spicy-doc-to-rst with autopep8.
  doc/scripts/spicy-doc-to-rst
Due: none

Fix lints in scripts/spicy-doc-to-rst.
  doc/scripts/spicy-doc-to-rst
Due: none

Fix extraction of integer bits when all bits requested.
  hilti/runtime/include/types/integer.h
  hilti/runtime/src/tests/integer.cc
Due: clang-format

Update documentation for zeek/spicy-plugin#22.
  doc/zeek.rst
Due: none

Name dev release artifacts `spicy-dev.*`.
  CMakeLists.txt
Due: none

Make artifact names more flexible.
  .cirrus.yml
  .github/workflows/create-release.yml
Due: none

Create release tarball as tgz file.
  .cirrus.yml
  scripts/make-tarball.sh
Due: checkbashisms

Publish dev Docker image as spicy-dev [skip ci].
  .github/workflows/docker-latest.yml
Due: none

Drop noexcept in Sink move constructor.
  spicy/runtime/include/sink.h
Due: clang-format

Small tweaks to testing.
  doc/development/testing.rst
Due: none

Clarify the mentioning of global variables in the %context documentation.
  doc/faq.rst
  doc/programming/parsing.rst
Due: none

Pass over readme, intro, and installation instructions.
  README.md
  doc/host-applications.rst
  doc/index.rst
  doc/installation.rst
  doc/programming/examples.rst
  doc/programming/parsing.rst
  doc/tutorial/index.rst
  doc/zeek.rst
Due: none

Move the Cirrus and repository links into Sphinx roles.
  doc/conf.py
  doc/installation.rst
Due: none

Remove todos in installation section.
  doc/installation.rst
Due: none

Address review feedback.
  README.md
  doc/faq.rst
  doc/installation.rst
  doc/programming/examples.rst
  doc/zeek.rst
Due: none

Update CHANGES. [skip ci]
  CHANGES
Due: none

Fix YAML comment in docker-latest GH workflow [skip ci].
  .github/workflows/docker-latest.yml
Due: none

Add new autogenerated docs.
  doc/autogen/types/error.rst
  doc/autogen/types/generic.rst
  doc/autogen/types/network.rst
  doc/autogen/types/result.rst
  doc/autogen/types/strong-reference.rst
  doc/autogen/types/union.rst
  doc/autogen/types/value-reference.rst
  doc/autogen/types/weak-reference.rst
Due: none

Prepare for master->main branch renaming.
  .cirrus.yml
  README.md
  doc/conf.py
  doc/scripts/autogen-docs
  doc/zeek.rst
  scripts/autogen-version
Due: none

Test plugins in CI on osx.
  .cirrus.yml
Due: none

Fix doc links to package artifacts.
  doc/conf.py
Due: none

Remove stray space in generated code.
  hilti/toolchain/src/compiler/cxx/formatter.cc
Due: clang-format

Bump pre-commit plugins.
  .pre-commit-config.yaml
Due: none

Add Map index operator which can mutate contained returned value.
  hilti/runtime/include/types/map.h
Due: clang-format

Add new combined operation for combined map indexing & assignment.
  doc/autogen/types/map.rst
  doc/scripts/spicy-doc-to-rst
  hilti/runtime/include/types/map.h
  hilti/runtime/src/tests/map.cc
  hilti/toolchain/include/ast/operator.h
  hilti/toolchain/include/ast/operators/map.h
  hilti/toolchain/src/compiler/codegen/operators.cc
  hilti/toolchain/src/compiler/visitors/operator-resolver.cc
  hilti/toolchain/src/compiler/visitors/printer.cc
  spicy/toolchain/bin/spicy-doc.cc
  tests/Baseline/hilti.types.map.ops/output
  tests/Baseline/spicy.types.map.ops/output
  tests/spicy/types/map/ops.spicy
Due: clang-format

Set correct prefix in macos CI jobs.
  .cirrus.yml
Due: none

Fix regexp matching across chunk boundaries.
  hilti/runtime/src/tests/regexp.cc
  hilti/runtime/src/types/regexp.cc
Due: clang-format

Fix code markup in unit and sink docs.
  doc/autogen/types/unit.rst
  spicy/toolchain/include/ast/operators/unit.h
Due: clang-format

Fix glob for release artifacts.
  .github/workflows/create-release.yml
Due: none

Take tags into account when computing version.
  scripts/autogen-version
Due: none

Block release asset upload on successful CI status.
  .github/workflows/create-release.yml
Due: none

Fix artifact download script for artifact rename.
  scripts/store-release-artifacts
Due: none

Do not explicitly create release.
  .github/workflows/create-release.yml
Due: none

Use hardcoded location to download binary artifacts.
  scripts/store-release-artifacts
Due: none
