Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Avoid name collision when codegen'ing struct element initializers.
  hilti/toolchain/src/compiler/cxx/elements.cc
  tests/hilti/codegen/element_init.hlt
Due: clang-format

Add registered cxx_includes to linker outputs.
  hilti/toolchain/src/compiler/cxx/linker.cc
Due: clang-format

Reduce scope of variable.
  hilti/toolchain/src/compiler/codegen/types.cc
Due: clang-format

Use forward declarations in linker metadata.
  hilti/toolchain/src/compiler/codegen/codegen.cc
Due: clang-format

Remove workaround for #918.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
Due: clang-format

Pull in previous definition with using decl instead of redeclaring.
  hilti/toolchain/include/base/intrusive-ptr.h
Due: clang-format

Fix range of check.
  hilti/runtime/include/intrusive-ptr.h
Due: clang-format

Do not drop errors when move-constructing Nodes.
  hilti/toolchain/include/ast/node.h
Due: clang-format

Disable clang-tidy `NewDeleteLeaks` check.
  .clang-tidy
Due: none

Use clang-tidy-12 in CI.
  .cirrus.yml
  ci/Dockerfile
Due: none

Reduce memory load for clang-tidy CI step.
  ci/run-ci
Due: none

Document for clang-tidy that field can never be unset.
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
Due: clang-format

Remove accidental truncating conversion.
  hilti/runtime/include/types/integer.h
Due: clang-format

Silence warning on unused variable in generated code.
  spicy/toolchain/src/compiler/codegen/parsers/literals.cc
Due: clang-format

Work around for Cirrus Homebrew issue.
  .cirrus.yml
Due: none

Small stream optimization.
  hilti/runtime/include/types/stream.h
Due: clang-format

Add runtime check for parsing progress during loops.
  spicy/toolchain/include/compiler/detail/codegen/parser-builder.h
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.vector.infinite-loop-for-each/output
  tests/Baseline/spicy.types.vector.infinite-loop-lahead/output
  tests/spicy/types/vector/infinite-loop-for-each.spicy
  tests/spicy/types/vector/infinite-loop-lahead.spicy
Due: clang-format

Fix missing docs update.
  doc/autogen/zeek-functions.spicy
Due: none

Perform optimizations in a loop.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/hilti.optimization.unused_function/log
  tests/Baseline/hilti.optimization.unused_function/output.diff
  tests/hilti/optimization/unused_function.hlt
Due: clang-format

Switch the Cirrus macOS images to *-xcode-12.x.
  .cirrus.yml
Due: none

Make Spicy version available to subprojects.
  CMakeLists.txt
  zeek/CMakeLists.txt
Due: none

Add unique "linker scope" identifier to HLTO files.
  .cirrus.yml
  hilti/lib/hilti.hlt
  hilti/runtime/include/util.h
  hilti/toolchain/src/compiler/cxx/linker.cc
  spicy/lib/spicy_rt.hlt
  spicy/runtime/include/parser.h
  spicy/runtime/src/tests/parser.cc
  spicy/toolchain/src/compiler/codegen/unit-builder.cc
  tests/Baseline/hilti.hiltic.print.empty/output
  tests/Baseline/hilti.hiltic.print.globals/output
  tests/Baseline/hilti.hiltic.print.hello-world/output
  tests/Baseline/hilti.hiltic.print.import/output
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/Baseline/spicy.rt.debug-trace/.stderr
  tests/Scripts/canonify-hiltic
  tests/hilti/rt/linker-scope.hlt
Due: clang-format

Bump spicy-plugin submodule to branch topic/robin/plugin-reorg.
  doc/_static/record-spicy-batch.zeek
  doc/scripts/autogen-docs
  doc/zeek.rst
Due: none

Add environment variable HILTI_CXX_INCLUDE_DIRS to specify additional C++ include directories when compiling generated code.
  doc/toolchain.rst
  hilti/toolchain/src/compiler/jit.cc
  tests/hilti/hiltic/jit/cxx-includes.hlt
Due: clang-format

Remove fuzzing and benchmarking from this repository.
  CMakeLists.txt
  ci/cron/README
  ci/cron/spicy-benchmark.sh
  ci/fuzz/CMakeLists.txt
  ci/fuzz/Dockerfile
  ci/fuzz/build.sh
  ci/fuzz/fuzz.cc
  ci/fuzz/run.py
  configure
  scripts/run-benchmarks
Due: checkbashisms

Add constructors for HILTI/Spicy drivers that always assume usage from inside the installation tree.
  hilti/toolchain/bin/hilti-config.cc
  hilti/toolchain/bin/hiltic.cc
  hilti/toolchain/include/compiler/driver.h
  hilti/toolchain/include/config.h.in
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/config.cc.in
  spicy/toolchain/bin/spicy-config.cc
  spicy/toolchain/bin/spicy-driver.cc
  spicy/toolchain/bin/spicy-dump/main.cc
  spicy/toolchain/bin/spicyc.cc
  spicy/toolchain/include/compiler/driver.h
Due: clang-format

Add CI task testing the Zeek integration.
  .cirrus.yml
  ci/Dockerfile
  ci/Dockerfile.zeek
  hilti/toolchain/src/config.cc.in
Due: none

Final cleanup before merge.
  .cirrus.yml
  NEWS.rst
  ci/Dockerfile
  doc/zeek.rst
Due: none

CI fixes.
  .cirrus.yml
  ci/Dockerfile.dockerhub
  docker/Dockerfile.ubuntu-16
Due: none

Another CI fix.
  docker/Dockerfile.debian-10
Due: none

Update Zeek CI run to use main branches for plugin and analyzers.
  .cirrus.yml
Due: none

Change Dockerhub build to use main versions of Zeek plugin and analyzers.
  ci/Dockerfile.dockerhub
Due: none

Fix CI typo.
  ci/Dockerfile.dockerhub
Due: none

CI tweaks.
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
  ci/Dockerfile.dockerhub
Due: none

Add Debian Bullseye (11) to CI
  .cirrus.yml
  docker/Dockerfile.debian-11
Due: none

Use apt-get instead of apt
  docker/Dockerfile.debian-11
Due: none

Add GCC
  docker/Dockerfile.debian-11
Due: none
