Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

checkbashisms:
  name: Check for bashisms in /bin/sh scripts
  entry: ./tests/Scripts/3rdparty/checkbashisms.pl
  language: script

clang-format:
  name: Run clang-format on code
  entry: ./scripts/run-clang-format
  args:
  - --pre-commit-hook
  language: script

Make it possible to build on arm64.
  hilti/runtime/src/fiber.cc
Due: clang-format

Disable leak tests if `ASAN_OPTIONS` are already set.
  tests/hilti/hiltic/cc/leak.cc
  tests/hilti/hiltic/jit/leak.cc
Due: none

Correctly handle lookups for NULL library symbols.
  hilti/runtime/src/library.cc
Due: clang-format

Allow use of units with all defaulted parameters as entry points.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  spicy/toolchain/src/compiler/codegen/unit-builder.cc
  tests/Baseline/spicy.types.unit.all-default-parameters/output
  tests/spicy/types/unit/all-default-parameters.spicy
Due: clang-format

Document initializers for unit variables.
  doc/programming/examples/_unit-vars-init.spicy
  doc/programming/examples/_unit-vars-init.spicy.output
  doc/programming/parsing.rst
Due: none

Precompile `libspicy.h`.
  CMakeLists.txt
  hilti/CMakeLists.txt
  scripts/precompile-headers.sh
  spicy/runtime/include/libspicy.h
  spicy/toolchain/src/config.cc.in
Due: checkbashisms, clang-format

Add `insert` with hint to `Vector` and `Set`.
  hilti/runtime/include/types/set.h
  hilti/runtime/include/types/vector.h
  hilti/runtime/src/tests/set.cc
  hilti/runtime/src/tests/vector.cc
Due: clang-format

Unify `transform` and `filter` functions.
  hilti/runtime/include/util.h
  hilti/runtime/src/tests/util.cc
  hilti/toolchain/include/base/id-base.h
  hilti/toolchain/include/base/util.h
Due: clang-format

Fix parsers for bison-3.8.1.
  hilti/toolchain/include/compiler/detail/parser/driver.h
  hilti/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/include/compiler/detail/parser/driver.h
  spicy/toolchain/src/compiler/parser/parser.yy
Due: clang-format

More fixes for building on ARM64.
  hilti/runtime/src/fiber.cc
Due: clang-format

Fix example links for recent reorg in zeek/spicy-analyzers.
  doc/programming/examples.rst
Due: none

Adjust macos job for recent Cirrus CI images changes.
  .cirrus.yml
Due: none

Bump pre-commit hooks.
  .pre-commit-config.yaml
Due: none

DO NOT MERGE: simplify CI for testing.
  .cirrus.yml
Due: none

fixup! DO NOT MERGE: simplify CI for testing.
  .cirrus.yml
Due: none

Use safe integers for runtime size functions.
  hilti/runtime/include/types/bytes.h
  hilti/runtime/include/types/vector.h
  hilti/runtime/src/tests/bytes.cc
  hilti/runtime/src/tests/regexp.cc
  hilti/runtime/src/types/regexp.cc
  hilti/runtime/src/types/stream.cc
  spicy/runtime/include/sink.h
Due: clang-format

Bump pre-commit-hooks.
  .pre-commit-config.yaml
Due: none

Fix lints in rst files.
  .pre-commit-config.yaml
  NEWS.rst
  doc/development/benchmarking.rst
  doc/development/testing.rst
  doc/programming/language/conditional.rst
  doc/programming/parsing.rst
  doc/release-notes.rst
  doc/zeek.rst
Due: none

Fix execution order of hooks in test.
  tests/spicy/types/unit/switch-convert-mixed.spicy
Due: none

Also collect type uses from function declarations.
  hilti/toolchain/src/compiler/optimizer.cc
Due: clang-format

Cleanup optimizer after AST rework.
  hilti/toolchain/src/compiler/optimizer.cc
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.feature_requirements/log
  tests/Baseline/spicy.optimization.unused-functions/log
  tests/Baseline/spicy.optimization.unused-types/log
Due: clang-format

Remove unneeded unwrapping of type.
  hilti/toolchain/src/compiler/optimizer.cc
Due: clang-format

Remove unneeded copies.
  hilti/toolchain/src/compiler/optimizer.cc
Due: clang-format

Remove duplicate rule diagnosed by Bison.
  hilti/toolchain/src/compiler/parser/parser.yy
Due: none

Avoid rendering modules if the debug stream is disabled.
  hilti/toolchain/src/compiler/context.cc
Due: clang-format

Switch release version referenced in docs to v1.2.1.
  doc/conf.py
Due: none

Document release artifaces for debian-11.
  doc/installation.rst
Due: none

Switch Spicy and HILTI parsers to use variants.
  hilti/toolchain/include/compiler/detail/parser/driver.h
  hilti/toolchain/src/compiler/parser/parser.yy
  hilti/toolchain/src/compiler/parser/scanner.ll
  spicy/toolchain/include/compiler/detail/parser/driver.h
  spicy/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/src/compiler/parser/scanner.ll
Due: clang-format

Add utility function to combine hashes.
  hilti/runtime/include/util.h
  hilti/runtime/src/tests/util.cc
Due: clang-format

Fix overly generous generation of type information.
  hilti/toolchain/src/compiler/codegen/codegen.cc
  hilti/toolchain/src/compiler/codegen/types.cc
  tests/Baseline/hilti.hiltic.print.globals/output
  tests/Baseline/hilti.hiltic.print.hello-world/output
  tests/Baseline/hilti.hiltic.print.import/output
  tests/Baseline/hilti.hiltic.print.yield/output
  tests/Baseline/spicy.tools.spicyc-hello-world/test.hlt
Due: clang-format

Skip compiling modules down to C++ that aren't needed.
  hilti/toolchain/include/compiler/unit.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/unit.cc
Due: clang-format

Split validation into two passes.
  hilti/toolchain/include/compiler/detail/visitors.h
  hilti/toolchain/include/compiler/plugin.h
  hilti/toolchain/include/compiler/unit.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/plugin.cc
  hilti/toolchain/src/compiler/unit.cc
  hilti/toolchain/src/compiler/visitors/validator.cc
  spicy/toolchain/include/compiler/detail/visitors.h
  spicy/toolchain/src/compiler/plugin.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/hilti.ast.basic-module/output
  tests/Baseline/hilti.ast.imported-id/output
  tests/Baseline/hilti.ast.types/output
Due: clang-format

Always initialize variant field while parsing.
  hilti/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/src/compiler/parser/parser.yy
Due: none

Use `unordered_set` instead of `set` for `Location` cache.
  hilti/toolchain/include/ast/location.h
  hilti/toolchain/include/ast/meta.h
  hilti/toolchain/src/ast/meta.cc
Due: clang-format

Remove unused field.
  hilti/toolchain/include/compiler/detail/codegen/codegen.h
Due: clang-format

Use `build` instead of `emplace` Bison variant API.
  hilti/toolchain/src/compiler/parser/scanner.ll
  spicy/toolchain/src/compiler/parser/scanner.ll
Due: none

Modernize CI: drop Fedora 32 (EOL since May), add Fedora 34
  .cirrus.yml
  docker/Dockerfile.fedora-32
  docker/Dockerfile.fedora-34
Due: none

Fix GCC 11 build error for set iterators
  hilti/runtime/include/types/set.h
Due: clang-format

Path conditions:
  checkbashisms: any of: .*\.sh, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
  clang-format: any of: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
