Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Update NEWS with 1.2.0 placeholder sections.
  NEWS.rst
Due: none

Fix missing operator<< for enums when generating debug code.
  hilti/toolchain/src/compiler/codegen/types.cc
Due: clang-format

Track patching of Bison files through proper dependencies.
  cmake/Util.cmake
Due: none

Default-initialize forwarding fields without type arguments.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.convert/output
  tests/spicy/types/unit/convert.spicy
Due: clang-format

Fix version numbering in CHANGES.
  CHANGES
Due: none

Update NEWS.
  NEWS.rst
Due: none

Update CHANGES.
  CHANGES
Due: none

Make only draft releases from automation [skip ci].
  .github/workflows/create-release.yml
Due: none

Autoupdate pre-commit hooks.
  .pre-commit-config.yaml
Due: none

Fix test to correctly log output.
  tests/Baseline/spicy.lib.protocols.http.common/reply-chunked
  tests/spicy/lib/protocols/http/common.spicy
Due: none

Introduce dedicated codegen step in Driver.
  hilti/toolchain/include/compiler/driver.h
  hilti/toolchain/src/compiler/driver.cc
  tests/Baseline/hilti.ast.basic-module/output
  tests/Baseline/hilti.ast.imported-id/output
Due: clang-format

Detect presence of sink hooks at compile time.
  spicy/runtime/include/parser.h
Due: clang-format

Fix computation of unset locations.
  hilti/toolchain/include/ast/node.h
  hilti/toolchain/src/ast/node.cc
  tests/Baseline/hilti.ast.basic-module/output
  tests/Baseline/hilti.ast.imported-id/output
Due: clang-format

Adjust processes used to build Docker image.
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
  ci/Dockerfile.dockerhub
Due: none

Add validation of unit switch attributes.
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.switch-attributes-fail/output
  tests/spicy/types/unit/switch-attributes-fail.spicy
Due: clang-format

Add support for unit switch &parse-at and &parse-from attributes.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.switch-parse-from/output
  tests/spicy/types/unit/switch-parse-from.spicy
Due: clang-format

Factor out reading input for &parse-at and &parse-from.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
Due: clang-format

Add optimizer pass removing unimplemented member functions.
  doc/development/debugging.rst
  doc/host-applications.rst
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/include/compiler/driver.h
  hilti/toolchain/include/compiler/global-optimizer.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/global-optimizer.cc
  hilti/toolchain/src/compiler/unit.cc
  spicy/toolchain/bin/spicy-build
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.rt.debug-trace/.stderr
  tests/hilti/hiltic/cc/empty.hlt
  tests/hilti/hiltic/cc/exception.hlt
  tests/hilti/hiltic/cc/hello-world.hlt
  tests/hilti/hiltic/cc/import.hlt
  tests/hilti/hiltic/cc/separate-units.hlt
  tests/hilti/hiltic/cc/yield.hlt
  tests/hilti/hiltic/print/empty.hlt
  tests/hilti/hiltic/print/globals.hlt
  tests/hilti/hiltic/print/hello-world.hlt
  tests/hilti/hiltic/print/import.hlt
  tests/hilti/hiltic/print/yield.hlt
  tests/spicy/doc/my-http-host-callback.cc
  tests/spicy/doc/my-http-host-driver.cc
  tests/spicy/doc/my-http-host-parse1.cc
  tests/spicy/doc/my-http-host-parse2.cc
Due: clang-format

Add tests for global optimizations.
  tests/Baseline/hilti.optimization.unimplemented_hook/log
  tests/Baseline/hilti.optimization.unimplemented_hook/output.diff
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/Scripts/spicy-diff.py
  tests/hilti/optimization/unimplemented_hook.hlt
  tests/spicy/optimization/default-parser-functions.spicy
Due: none

Fix Scope rendering to not access expired references.
  hilti/toolchain/src/ast/scope.cc
Due: clang-format

Prune all uses before pruning decls.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Whitelist stringification functions in optimizer collection phase.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Invalidate all scopes after global optimizer pruning.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Fix optimizer function name computation.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/hilti/optimization/unimplemented_hook.hlt
Due: clang-format

Update test baselines for optimizer tests.
  tests/Baseline/hilti.optimization.unimplemented_hook/output.diff
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
Due: none

Use prefiltered candidate list when resolving operators.
  hilti/toolchain/src/compiler/visitors/operator-resolver.cc
Due: clang-format

Make `Module::declarations` more robust.
  hilti/toolchain/include/ast/module.h
Due: clang-format

Prevent removal of undefined but referenced functions.
  hilti/toolchain/include/compiler/global-optimizer.h
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Implement removal of unused global hooks.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/hilti.optimization.unimplemented_hook/log
  tests/Baseline/hilti.optimization.unimplemented_hook/output.diff
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/hilti/optimization/unimplemented_hook.hlt
Due: clang-format

Remove unused variable lookup.
  hilti/toolchain/src/compiler/codegen/codegen.cc
Due: clang-format

Remove unused variable.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Add optimizer code removing unused function declarations.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/hilti.optimization.unused_function/log
  tests/Baseline/hilti.optimization.unused_function/output.diff
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/hilti/optimization/unused_function.hlt
  tests/spicy/optimization/default-parser-functions.spicy
Due: clang-format

Introduce top-level `spicy-*/` directory in release tarball.
  .cirrus.yml
  scripts/make-tarball.sh
Due: checkbashisms

Prefer VERSION file over git information.
  scripts/autogen-version
Due: none
