Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

checkbashisms:
  name: Check for bashisms in /bin/sh scripts
  entry: ./tests/Scripts/3rdparty/checkbashisms.pl
  language: script

clang-format:
  name: Run clang-format on code
  entry: ./scripts/run-clang-format
  args:
  - --pre-commit-hook
  language: script

Fix documentation typos around unsigned integers.
  doc/programming/language/types.rst
  doc/programming/parsing.rst
Due: none

Clarify while documentation.
  doc/programming/language/statements.rst
Due: none

Add LGTM config file [skip ci].
  .lgtm.yml
Due: none

Let test 'spicy.rt.time' work for the next 4 years.
  tests/spicy/rt/time.spicy
Due: none

Fix doc references to docker-19.
  doc/installation.rst
Due: none

Update CHANGES. [skip ci]
  CHANGES
Due: none

Use FreeBSD-compatible shell redirection in test.
  tests/zeek/evt/optional.zeek
Due: none

Add optional CI task running against nightly Zeek.
  .cirrus.yml
Due: none

Give test user in CI image root if explicitly requested.
  ci/Dockerfile
Due: none

Add missing include.
  hilti/toolchain/include/ast/statements/while.h
Due: clang-format

Remove Spicy support for `else` on `while`.
  doc/programming/language/statements.rst
  spicy/toolchain/src/compiler/parser/parser.yy
  tests/Baseline/spicy.statements.while/output
  tests/spicy/statements/while.spicy
Due: none

Fix for macOS 10.16.
  hilti/toolchain/src/compiler/clang.cc
Due: clang-format

Add freebsd-11 and freebsd-12 to CI [skip ci].
  .cirrus.yml
  ci/prepare_freebsd.sh
Due: checkbashisms

Use debug mode for test source relying on `assert`.
  tests/spicy/doc/my-http-host-driver-hlto.cc
Due: none

Fix dynamic loading flags on FreeBSD.
  .cirrus.yml
  hilti/toolchain/bin/hilti-config.cc
  spicy/toolchain/bin/spicy-config.cc
Due: clang-format

Mount procfs in FreeBSD CI so we can detect build directory.
  ci/prepare_freebsd.sh
Due: checkbashisms

Fix build directory detection for paths involving softlinks.
  hilti/toolchain/src/config.cc.in
Due: none

Make test output deterministic.
  tests/hilti/hiltic/cc/separate-units.hlt
Due: none

Move creation of debug stream store into cc file.
  hilti/toolchain/include/base/logger.h
  hilti/toolchain/src/base/logger.cc
Due: clang-format

Enable CI on freebsd-11.
  .cirrus.yml
Due: none

Allow to read version from VERSION file.
  scripts/autogen-version
Due: none

Add script to create release tarball.
  scripts/make-tarball.sh
Due: checkbashisms

Add `--store` flag to `scripts/autogen-version`.
  scripts/autogen-version
Due: none

Add VERSION to gitignore list.
  .gitignore
Due: none

Fix some patterns flagged by shellcheck.
  scripts/autogen-version
Due: none

Add GH action to upload a release tarball for tags.
  .github/workflows/create-release.yml
Due: none

Bump minimal version of BTest in CI to btest-0.66.
  .cirrus.yml
  ci/Dockerfile
  docker/Dockerfile.alpine-3.12
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.debian-10
  docker/Dockerfile.debian-9
  docker/Dockerfile.fedora-32
  docker/Dockerfile.fedora-33
  docker/Dockerfile.ubuntu-16
  docker/Dockerfile.ubuntu-18
  docker/Dockerfile.ubuntu-20
Due: none

Fetch all submodules and history in GH release action.
  .github/workflows/create-release.yml
Due: none

Fix file name of release tarball.
  .github/workflows/create-release.yml
Due: none

Remove manual installation of Zeek CMake files on FreeBSD CI.
  ci/prepare_freebsd.sh
Due: checkbashisms

Fix clang-tidy reported (non-)issue.
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Fix CMake logic for hilti-rt.
  spicy/runtime/CMakeLists.txt
  spicy/toolchain/CMakeLists.txt
  tests/spicy/rt/release-vs-debug.cc
Due: none

Updates for GCC as the JIT compiler.
  hilti/runtime/src/tests/library-dummy.cc
  hilti/toolchain/src/compiler/cxx/linker.cc
  tests/Baseline/hilti.hiltic.print.empty/output
  tests/Baseline/hilti.hiltic.print.globals/output
  tests/Baseline/hilti.hiltic.print.hello-world/output
  tests/Baseline/hilti.hiltic.print.import/output
  tests/Baseline/hilti.types.real.inf_NaN/output
  tests/hilti/hiltic/jit/broken-cxx.cc
  tests/hilti/hiltic/jit/broken-hilti-linking.hlt
  tests/hilti/hiltic/jit/broken-system-linking.hlt
  tests/hilti/types/real/inf_NaN.hlt
  tests/spicy/rt/release-vs-debug.cc
Due: clang-format

Remove --with-llvm-root from FreeBSD CI.
  .cirrus.yml
Due: none

Address review feedback.
  hilti/runtime/CMakeLists.txt
  hilti/runtime/include/linker.h
  hilti/runtime/include/util.h
  hilti/runtime/src/tests/library.cc
  hilti/toolchain/bin/hilti-config.cc
  hilti/toolchain/include/compiler/driver.h
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/jit.cc
  hilti/toolchain/src/config.cc.in
  spicy/toolchain/bin/spicy-config.cc
  spicy/toolchain/bin/spicy-driver.cc
  tests/zeek/evt/double-event.zeek
Due: clang-format

Add check if JIT compiler is functioning.
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/jit.cc
  tests/hilti/hiltic/jit/hilti-cxx.hlt
Due: clang-format

Couple more fixes.
  hilti/runtime/include/compiler-setup.h
  hilti/toolchain/src/compiler/jit.cc
Due: clang-format

Add skeleton for new JIT using the host's C++ compiler.
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/include/compiler/detail/clang.h
  hilti/toolchain/include/compiler/detail/jit/cxx.h
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/clang.cc
  hilti/toolchain/src/compiler/jit.cc
  hilti/toolchain/src/compiler/jit/cxx.cc
Due: clang-format

Refactor JIT implementation.
  3rdparty/CMakeLists.txt
  hilti/runtime/include/result.h
  hilti/runtime/src/tests/library-dummy.cc
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/bin/hilti-config.cc
  hilti/toolchain/bin/hiltic.cc
  hilti/toolchain/bin/jit-test.cc
  hilti/toolchain/include/compiler/driver.h
  hilti/toolchain/include/compiler/jit.h
  hilti/toolchain/src/compiler/driver.cc
  hilti/toolchain/src/compiler/jit.cc
  hilti/toolchain/src/compiler/jit/cxx.cc
  spicy/toolchain/bin/spicy-config.cc
  spicy/toolchain/bin/spicy-driver.cc
  spicy/toolchain/bin/spicyc.cc
  tests/Baseline/hilti.hiltic.jit.broken-cxx/output
  tests/Baseline/hilti.hiltic.jit.broken-hilti-linking/output
  tests/Baseline/spicy.rt.load-hlto/output
  tests/Baseline/spicy.types.bytes.parse-chunked-error/output
  tests/Baseline/spicy.types.bytes.parse-ctor-error/output
  tests/Baseline/spicy.types.bytes.parse-length-error/output
  tests/Baseline/spicy.types.bytes.parse-length-until-fail/output
  tests/Baseline/spicy.types.bytes.parse-until-error/output
  tests/Baseline/spicy.types.integer.parse-size/output
  tests/Baseline/spicy.types.regexp.parse-ctor-captures-no-sub/output
  tests/Baseline/spicy.types.sink.reassembler.wrong-init-seq/output
  tests/Baseline/spicy.types.unit.attribute-access/output
  tests/Baseline/spicy.types.unit.offset-early-access-fail/output
  tests/Baseline/spicy.types.unit.requires-attribute/output
  tests/Baseline/spicy.types.unit.requires-property/output
  tests/Baseline/spicy.types.unit.switch-no-default/output
  tests/Baseline/spicy.types.vector.parse-lahead-int/output
Due: clang-format

Path conditions:
  checkbashisms: any of: .*\.sh, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
  clang-format: any of: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
