Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Update plugin docs for build changes.
  doc/zeek.rst
Due: none

Update NEWS.
  NEWS.rst
Due: none

Make detection of current executable more robust.
  hilti/toolchain/src/base/util.cc
Due: clang-format

Make it possible to build Spicy as a CMake subproject.
  CMakeLists.txt
  cmake/ASTOperators.cmake
  cmake/TypeErase.cmake
  hilti/CMakeLists.txt
  hilti/runtime/CMakeLists.txt
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/src/config.cc.in
  spicy/runtime/CMakeLists.txt
  spicy/toolchain/CMakeLists.txt
Due: none

Show long version in CMake summary.
  CMakeLists.txt
Due: none

Preserve commit hash when persisting version information.
  scripts/autogen-version
Due: none

Fix parsing of VERSION file.
  scripts/autogen-version
Due: none

Force recomputation of version information if generating VERSION file.
  scripts/autogen-version
Due: none

Release 1.2.0.
  CHANGES
  NEWS.rst
  doc/conf.py
Due: none

Add placeholder section for 1.3 to NEWS.
  NEWS.rst
  README.md
Due: none

Fix name of latest release in README.
  README.md
Due: none

Emit linker glue type definitions for vector fields.
  hilti/toolchain/src/compiler/codegen/codegen.cc
  tests/spicy/types/unit/vector-field-link-glue.spicy
Due: clang-format

Directly maintain VERSION file in repo.
  .cirrus.yml
  .github/workflows/create-release.yml
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
  .gitignore
  .update-changes.cfg
  CMakeLists.txt
  VERSION
  doc/conf.py
  docker/docker-helper
  hilti/runtime/CMakeLists.txt
  hilti/runtime/include/version.h.in
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/include/config.h.in
  hilti/toolchain/src/config.cc.in
  scripts/autogen-version
  scripts/make-tarball.sh
  spicy/toolchain/src/compiler/visitors/validator.cc
Due: checkbashisms, clang-format

Directly maintain VERSION file in repo.
  .cirrus.yml
  .github/workflows/create-release.yml
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
  .gitignore
  .update-changes.cfg
  CHANGES
  CMakeLists.txt
  VERSION
  doc/conf.py
  docker/docker-helper
  hilti/runtime/CMakeLists.txt
  hilti/runtime/include/version.h.in
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/include/config.h.in
  hilti/toolchain/src/config.cc.in
  scripts/autogen-version
  scripts/make-tarball.sh
  spicy/toolchain/src/compiler/visitors/validator.cc
Due: checkbashisms, clang-format

Emit linker glue type definitions for vector fields.
  CHANGES
  VERSION
  hilti/toolchain/src/compiler/codegen/codegen.cc
  tests/spicy/types/unit/vector-field-link-glue.spicy
Due: clang-format

Factor out functions to compute IDs for global optimizer.
  hilti/toolchain/include/compiler/global-optimizer.h
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Remove unused function `hilti::type::Struc::ids`.
  hilti/toolchain/include/ast/types/struct.h
Due: clang-format

Explicitly mark parse functions of filters as `&always-emit`.
  spicy/toolchain/include/compiler/detail/codegen/parser-builder.h
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  spicy/toolchain/src/compiler/codegen/unit-builder.cc
Due: clang-format

Implement removal of unused member functions in global optimizer.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/hilti.optimization.unimplemented_hook/log
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/Baseline/spicy.optimization.unused-functions/log
  tests/Baseline/spicy.optimization.unused-functions/output.diff
  tests/hilti/types/struct/static-method-extern.hlt
  tests/spicy/optimization/unused-functions.spicy
Due: clang-format

Swallow Git error messages during CMake if run from tarball.
  CMakeLists.txt
Due: none

Only consider typicaly release tags when checking whether we are on a release tag.
  CMakeLists.txt
Due: none

Fix flaky test `util.memory_statistics` in hilti-rt-tests.
  hilti/runtime/src/tests/util.cc
Due: clang-format

Execute correct test target in validate_release_tarball Cirrus CI task.
  .cirrus.yml
Due: none

Fix validate_release_tarball Cirrus CI task.
  .cirrus.yml
Due: none

Use publicly accessible links to Docker images [skip CI].
  doc/installation.rst
Due: none

Release 1.2.1.
  CHANGES
  VERSION
  doc/conf.py
Due: none

Remove unused state in global optimizer.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Rename visitor for functions in global optimizer.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Factor out function to remove an AST node.
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Move optimizer collection state into visitor.
  hilti/toolchain/include/compiler/global-optimizer.h
  hilti/toolchain/src/compiler/global-optimizer.cc
Due: clang-format

Clear preserved nodes of modules after optimizing.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/Baseline/spicy.optimization.unused-functions/output.diff
Due: clang-format

Add optimizer pass to remove unused types.
  hilti/toolchain/src/compiler/global-optimizer.cc
  tests/Baseline/spicy.optimization.default-parser-functions/log
  tests/Baseline/spicy.optimization.default-parser-functions/output.diff
  tests/Baseline/spicy.optimization.unused-functions/log
  tests/Baseline/spicy.optimization.unused-functions/output.diff
  tests/Baseline/spicy.optimization.unused-types/log
  tests/Baseline/spicy.optimization.unused-types/output.diff
  tests/spicy/optimization/unused-types.spicy
Due: clang-format

Make test type public to prevent it being optimized out.
  tests/hilti/hiltic/jit/exception.hlt
Due: none

Add FAQ item for parsing TCP conversations [skip CI].
  doc/faq.rst
Due: none
