Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

checkbashisms:
  name: Check for bashisms in /bin/sh scripts
  entry: ./tests/Scripts/3rdparty/checkbashisms.pl
  language: script

clang-format:
  name: Run clang-format on code
  entry: ./scripts/run-clang-format
  args:
  - --pre-commit-hook
  language: script

Allow to pass zlib's window bits parameter into Zlib unit type.
  spicy/lib/filter.spicy
  tests/Baseline/spicy.rt.zlib-filter/output
  tests/spicy/rt/zlib-filter.spicy
Due: none

Fix crash on macOS ARM when writing over an existing HLTO file.
  hilti/runtime/src/library.cc
Due: clang-format

Provide mktime() library function.
  doc/autogen/spicy-functions.spicy
  hilti/lib/hilti.hlt
  hilti/runtime/include/types/time.h
  hilti/runtime/src/tests/time.cc
  hilti/runtime/src/types/time.cc
  spicy/lib/spicy.spicy
  tests/hilti/types/time/functions.hlt
Due: clang-format

Make spicy compile with bison 3.0.
  CMakeLists.txt
  cmake/Util.cmake
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/src/compiler/parser/parser.yy
  spicy/toolchain/CMakeLists.txt
  spicy/toolchain/src/compiler/parser/parser.yy
Due: none

Use default Bison version in containers if possible.
  ci/Dockerfile.packages
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.debian-10
  docker/Dockerfile.debian-9
  docker/Dockerfile.ubuntu-16
  docker/Dockerfile.ubuntu-18
Due: none

Remove accidentally committed debug string [skip ci].
  cmake/Util.cmake
Due: none

Updating submodule(s).
  tests/Baseline/spicy.lib.protocols.dns.single/output
Due: none

Do not run clang-tidy/format on Zeek submodules.
  .clang-tidy.ignore
  .pre-commit-config.yaml
  scripts/run-clang-format
Due: none

Silence a signed-unsigned comparison warning.
  hilti/runtime/include/types/enum.h
Due: clang-format

Fix typos.
  hilti/toolchain/include/compiler/unit.h
Due: clang-format

Add Cirrus CI task for opensuse-15.2.
  .cirrus.yml
Due: none

Reorder tasks in Cirrus CI config.
  .cirrus.yml
Due: none

Add Dockerfile for opensuse-15.2.
  docker/Dockerfile.opensuse-15.2
Due: none

Extend HILTI printer to include IDs into tuple type output.
  hilti/toolchain/src/compiler/visitors/printer.cc
Due: clang-format

Fix type resolution bug in &convert.
  spicy/toolchain/include/ast/types/unit-items/field.h
  spicy/toolchain/src/ast/types/unit-items/field.cc
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.unit-convert-two/output
  tests/spicy/types/unit/unit-convert-two.spicy
Due: clang-format

Port autogen-version to python3
  scripts/autogen-version
Due: none

Specify python3 on cmake invocations for autogen-version
  CMakeLists.txt
  hilti/runtime/CMakeLists.txt
Due: none

Bump minimum python version to 3.6
  CMakeLists.txt
Due: none

Add rough scaffolding for fuzzing parsers [skip ci].
  CMakeLists.txt
  ci/fuzz/CMakeLists.txt
  ci/fuzz/Dockerfile
  ci/fuzz/build.sh
  ci/fuzz/fuzz.cc
  ci/fuzz/run.py
  configure
Due: checkbashisms

Lower minimum required Python version to 3.2.
  CMakeLists.txt
  scripts/autogen-version
Due: none

Fix to run-clang-tidy.
  scripts/run-clang-tidy
Due: none

Add `encode()` method to strings for conversion to bytes.
  doc/autogen/types/string.rst
  hilti/toolchain/include/ast/operators/string.h
  hilti/toolchain/src/compiler/codegen/operators.cc
  tests/Baseline/hilti.types.string.encode/output
  tests/hilti/types/string/encode.hlt
Due: clang-format

Let CI show any diff from clang-tidy.
  ci/run-ci
Due: none

Add support for `&chunked` when parsing bytes data with `&until` or `&until_including`.
  doc/programming/parsing.rst
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.bytes.parse-chunked-until/output
  tests/Baseline/spicy.types.bytes.parse-until/output
  tests/Baseline/spicy.types.unit.field-max-size/output
  tests/Baseline/spicy.types.unit.unit-max-size/output
  tests/spicy/types/bytes/parse-chunked-until.spicy
  tests/spicy/types/bytes/parse-until.spicy
Due: clang-format

Add support for `&eod` to `void` fields.
  doc/programming/parsing.rst
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.regexp.invalid-field/output
  tests/Baseline/spicy.types.unit.void-eod/output
  tests/spicy/types/unit/void-eod.spicy
Due: clang-format

Add support for searching a stream view backward for bytes.
  hilti/runtime/include/types/stream.h
  hilti/runtime/src/tests/stream.cc
  hilti/runtime/src/types/stream.cc
Due: clang-format

Add support for `&until` to `void` fields.
  doc/programming/parsing.rst
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.void-until/output
  tests/spicy/types/unit/void-until.spicy
Due: clang-format

Optimize implementation of Spicy's library filters a little bit.
  spicy/lib/filter.spicy
Due: none

Fix missing update to input position before running `%done` hook.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.offset/output
Due: clang-format

Add a find() method to units to search within their block of input.
  hilti/runtime/include/types/stream.h
  hilti/runtime/src/types/stream.cc
  spicy/lib/spicy.spicy
  spicy/lib/spicy_rt.hlt
  spicy/runtime/include/parser.h
  spicy/runtime/src/parser.cc
  spicy/runtime/src/tests/parser.cc
  spicy/toolchain/include/ast/operators/unit.h
  spicy/toolchain/src/compiler/codegen/codegen.cc
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.find/output
  tests/spicy/types/unit/find.spicy
Due: clang-format

Add functions for CRC32 computation to Spicy library.
  spicy/lib/spicy.spicy
  spicy/runtime/include/zlib_.h
  spicy/runtime/src/tests/zlib.cc
  spicy/runtime/src/zlib.cc
  tests/Baseline/spicy.rt.crc32/output
  tests/spicy/rt/crc32.spicy
Due: clang-format

Update autogen docs.
  doc/autogen/spicy-functions.spicy
  doc/autogen/spicy-types.spicy
  doc/autogen/types/unit.rst
Due: none

Cleanup.
  hilti/runtime/src/types/stream.cc
  spicy/toolchain/src/compiler/codegen/parsers/types.cc
Due: clang-format

Make sure container sizes are runtime integers.
  hilti/runtime/include/types/map.h
  hilti/runtime/include/types/set.h
  hilti/runtime/include/types/vector.h
Due: clang-format

Remove redundant indention in generated VERSION file.
  scripts/autogen-version
Due: none

Do not update unchanged version files.
  scripts/autogen-version
Due: none

Remove redundant version computation.
  CMakeLists.txt
Due: none

Draft 1.1 release notes.
  NEWS.rst
  README.md
  doc/release-notes.rst
Due: none

Bump version.
  doc/conf.py
Due: none

Update CHANGES.
  CHANGES
Due: none

Path conditions:
  checkbashisms: any of: .*\.sh, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
  clang-format: any of: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$, but not: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)
