Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Update FAQ for no-JIT Zeek plugin changes.
  doc/faq.rst
Due: none

Remove unnecessary gcc9_ubuntu_release CI task.
  .cirrus.yml
Due: none

Expose `--build-toolchain` configure flag in `ci/run-ci`.
  ci/run-ci
Due: none

Add CI job validating build without toolchain.
  .cirrus.yml
Due: none

Limit number of clang-tidy jobs in CI by number of cores available.
  ci/run-ci
Due: none

Actually modify files with run-clang-format.
  scripts/run-clang-format
Due: none

Fix calculation of basedir in `scripts/run-clang-format`.
  scripts/run-clang-format
Due: none

Skip clang-format pre-commit check in run-ci script.
  ci/run-ci
Due: none

Use consistent capabilities for Docker images.
  docker/docker-helper
Due: none

Move ASAN CI build to llvm-10.
  .cirrus.yml
Due: none

Disable clang-format for inconsistently formatted block.
  spicy/toolchain/src/compiler/plugin.cc
Due: clang-format

Publish clang-format and clang-tidy artifacts in ci.
  .cirrus.yml
Due: none

Publish a single Docker image.
  doc/installation.rst
  docker/Makefile
Due: none

Publish Spicy Docker image via GH action [skip ci].
  .github/workflows/docker-images.yml
  ci/cron/update_spicy_dockerhub.sh
  docker/Makefile
Due: checkbashisms

Add a GH action to publish images for tags [skip ci].
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
Due: none

Let Spicy's Bison parser carry over type declaration attributes to unit types.
  spicy/toolchain/include/ast/types/unit.h
  spicy/toolchain/src/compiler/parser/parser.yy
Due: clang-format

Support `&size` attributes at the unit level.
  doc/programming/parsing.rst
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.unit-size-fail/output
  tests/Baseline/spicy.types.unit.unit-size/output
  tests/spicy/types/unit/unit-size-fail.spicy
  tests/spicy/types/unit/unit-size.spicy
Due: clang-format

Allow to define a minimum Spicy version that a module requires.
  doc/programming/language/modules.rst
  doc/programming/parsing.rst
  hilti/toolchain/include/ast/module.h
  scripts/autogen-version
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.attributes.spicy-version-2/output
  tests/Baseline/spicy.attributes.spicy-version-fail-2/output
  tests/Baseline/spicy.attributes.spicy-version-fail-3/output
  tests/Baseline/spicy.attributes.spicy-version-fail-4/output
  tests/Baseline/spicy.attributes.spicy-version-fail-5/output
  tests/Baseline/spicy.attributes.spicy-version-fail-6/output
  tests/Baseline/spicy.attributes.spicy-version-fail-7/output
  tests/Baseline/spicy.attributes.spicy-version-fail/output
  tests/Baseline/spicy.attributes.spicy-version/output
  tests/spicy/attributes/spicy-version-fail.spicy
  tests/spicy/attributes/spicy-version.spicy
Due: clang-format

Update CHANGES. [skip ci]
  CHANGES
Due: none

Move mime type to cookie so that we can use the normal data_in methods.
  tests/zeek/evt/file-analysis-data-in.zeek
  zeek/plugin/include/cookie.h
  zeek/plugin/include/runtime-support.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Allow to pass mime type to data_in when sending data to Zeek.
  tests/Baseline/zeek.evt.file-analysis-data-in/x509.log
  tests/Baseline/zeek.lib.protocols.dhcp/dhcp.log
  tests/Baseline/zeek.lib.protocols.dns/conn.log
  tests/Baseline/zeek.lib.protocols.dns/dns.log
  tests/Baseline/zeek.lib.protocols.http/conn.log
  tests/Baseline/zeek.lib.protocols.http/files.log
  tests/Baseline/zeek.lib.protocols.http/http.log
  tests/Baseline/zeek.lib.protocols.tftp/conn.rrq.log
  tests/Baseline/zeek.lib.protocols.tftp/conn.wrq.log
  tests/Baseline/zeek.lib.protocols.tftp/tftp.rrq.log
  tests/Baseline/zeek.lib.protocols.tftp/tftp.wrq.log
  tests/Scripts/canonify-zeek-log
  tests/Scripts/diff-remove-timestamps
  tests/zeek/evt/file-analysis-data-in.zeek
  zeek/plugin/include/runtime-support.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Fix a couple of issues flagged by CI.
  doc/autogen/zeek-functions.spicy
  tests/Scripts/diff-remove-timestamps
  zeek/plugin/include/cookie.h
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Turning MIME type parameter of file_begin() into optional.
  doc/autogen/zeek-functions.spicy
  zeek/plugin/include/cookie.h
  zeek/plugin/include/runtime-support.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Add implicit conversion from hilti::rt::Null to std::nullopt.
  hilti/runtime/include/types/null.h
  hilti/runtime/src/tests/optional.cc
Due: clang-format

Reject unsupported attributes on unit types.
  spicy/toolchain/include/ast/types/unit.h
  spicy/toolchain/src/compiler/visitors/validator.cc
  tests/Baseline/spicy.types.unit.unsupported-attribute/output
  tests/spicy/types/unit/unsupported-attribute.spicy
Due: clang-format

Add strptime Spicy library function.
  doc/autogen/spicy-functions.spicy
  hilti/runtime/include/util.h
  hilti/runtime/src/tests/util.cc
  hilti/runtime/src/util.cc
  spicy/lib/spicy.spicy
  tests/spicy/rt/time_formatting.spicy
Due: clang-format

Fix Docker images for possible lib libdir.
  docker/Dockerfile.alpine-3.12
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.fedora-32
  docker/Dockerfile.fedora-33
  docker/Dockerfile.ubuntu-18
Due: none

Validate Zeek installation for Docker CI tasks.
  .cirrus.yml
Due: none

Fetch full history when building documentation in readthedocs.
  doc/conf.py
Due: none

Set PATH and ZEEK_PLUGIN_PATH for ubuntu Docker images.
  docker/Dockerfile.ubuntu-16
  docker/Dockerfile.ubuntu-20
Due: none

Use ubuntu-20 as base for published Docker image.
  .github/workflows/docker-latest.yml
  .github/workflows/docker-tags.yml
Due: none

Fix --git-root in autogen-version call.
  hilti/runtime/CMakeLists.txt
Due: none

Zeek plugin: Add functions to access UIDs and FUIDs.
  doc/autogen/zeek-functions.spicy
  tests/zeek/evt/file-analyzer.zeek
  tests/zeek/evt/ssh-banner.zeek
  zeek/plugin/include/runtime-support.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/src/runtime-support.cc
Due: clang-format

Canonify baseline for test `spicy.attributes.spicy-version-fail`.
  tests/Baseline/spicy.attributes.spicy-version-fail-2/output
  tests/Baseline/spicy.attributes.spicy-version-fail-3/output
  tests/Baseline/spicy.attributes.spicy-version-fail-4/output
  tests/Baseline/spicy.attributes.spicy-version-fail-5/output
  tests/Baseline/spicy.attributes.spicy-version-fail-6/output
  tests/Baseline/spicy.attributes.spicy-version-fail/output
  tests/spicy/attributes/spicy-version-fail.spicy
Due: none

Make offsets usable from unit field attributes.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
  tests/Baseline/spicy.types.unit.offset-in-attribute/output
  tests/spicy/types/unit/offset-in-attribute.spicy
Due: clang-format

Add script to store and upload release artifacts [skip ci].
  scripts/store-release-artifacts
Due: none

Fix link in markup in docs [skip ci].
  doc/installation.rst
Due: none
