Repository zeek/spicy: changes, and which pre-commit hooks are due for each by the changed paths.
All: checkbashisms, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: local
  hooks:
  - id: checkbashisms
    name: Check for bashisms in /bin/sh scripts
    entry: ./tests/Scripts/3rdparty/checkbashisms.pl
    language: script
    files: '.*\.sh'

  - id: autogen-docs
    name: Check that generated documentation is up-to-date
    entry: ./doc/scripts/autogen-docs
    language: script

    pass_filenames: false
  - id: clang-format
    name: Run clang-format on code
    entry: ./scripts/run-clang-format
    args: ["--pre-commit-hook"]
    files: ^(hilti|spicy|zeek)/.*\.(c|h|C|H|cpp|hpp|cc|hh|c\+\+|h\+\+|cxx|hxx)$
    language: script

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: trailing-whitespace
    exclude: '^tests/Baseline'
  - id: end-of-file-fixer
    exclude: '^tests/Baseline|^doc/autogen|^doc/_static'
  - id: check-yaml
  - id: check-added-large-files

- repo: https://gitlab.com/daverona/pre-commit-cpp
  rev: 0.6.0
  hooks:
  - id: cpplint
    exclude: '3rdparty/'
    args: ["--quiet"]

- repo: https://github.com/jorisroovers/gitlint
  rev:  v0.13.1
  hooks:
  - id: gitlint

exclude: /3rdparty/|doc/.*examples/|/Baseline/|(\.svg$)|(\.dat$)

Model `TypeInfo` with a union instead of a `std::variant`.
  hilti/runtime/include/type-info.h
  hilti/runtime/include/types/enum.h
  hilti/runtime/src/tests/type-info.cc
  hilti/runtime/src/type-info.cc
  hilti/toolchain/src/compiler/codegen/types.cc
  spicy/toolchain/bin/spicy-dump/printer-json.cc
  spicy/toolchain/bin/spicy-dump/printer-text.cc
  tests/hilti/codegen/type-info.hlt
  tests/spicy/doc/my-http-host-driver-hlto.cc
  tests/spicy/doc/my-http-host-driver.cc
Due: clang-format

Use a lightweight lambda class to callbacks executing on fibers.
  3rdparty/LICENSE.3rdparty
  hilti/runtime/include/fiber.h
  hilti/runtime/include/lambda.h
Due: clang-format

Use stable names for hook impls.
  hilti/toolchain/include/compiler/detail/codegen/codegen.h
  hilti/toolchain/src/compiler/codegen/codegen.cc
  tests/Baseline/spicy.types.unit.print-hook-nested/output
  tests/spicy/types/unit/print-hook-nested.spicy
Due: clang-format

Add --zeek-version argument to spicy-config.
  spicy/toolchain/bin/spicy-config.cc
  spicy/toolchain/include/config.h.in
  tests/Scripts/have-zeek-plugin
  tests/Scripts/have-zeek-plugin-jit
Due: clang-format

Add support for packet analyzers to Zeek plugin.
  doc/autogen/zeek-functions.spicy
  doc/zeek.rst
  hilti/runtime/include/fiber.h
  hilti/runtime/include/types/stream.h
  hilti/runtime/src/types/stream.cc
  spicy/runtime/include/driver.h
  spicy/runtime/src/driver.cc
  tests/Baseline/zeek.evt.packet-analyzer/conn.log
  tests/Baseline/zeek.evt.packet-analyzer/output
  tests/Traces/raw-layer.pcap
  tests/zeek/evt/packet-analyzer.zeek
  zeek/compiler/glue-compiler.cc
  zeek/compiler/glue-compiler.h
  zeek/plugin/CMakeLists.txt
  zeek/plugin/include/cookie.h
  zeek/plugin/include/packet-analyzer.h
  zeek/plugin/include/plugin.h
  zeek/plugin/include/runtime-support.h
  zeek/plugin/include/zeek-compat.h
  zeek/plugin/include/zeek-reporter.h
  zeek/plugin/spicy/zeek.spicy
  zeek/plugin/spicy/zeek_rt.hlt
  zeek/plugin/src/packet-analyzer.cc
  zeek/plugin/src/plugin.cc
  zeek/plugin/src/runtime-support.cc
  zeek/plugin/src/zeek-reporter.cc
Due: clang-format

Disable packet analyzer code for Zeek <= 3.2.
  tests/zeek/evt/packet-analyzer.zeek
  zeek/compiler/CMakeLists.txt
  zeek/compiler/glue-compiler.cc
  zeek/compiler/glue-compiler.h
  zeek/plugin/include/cookie.h
  zeek/plugin/include/packet-analyzer.h
  zeek/plugin/include/plugin.h
  zeek/plugin/include/runtime-support.h
  zeek/plugin/include/zeek-reporter.h
  zeek/plugin/src/packet-analyzer.cc
  zeek/plugin/src/plugin.cc
  zeek/plugin/src/runtime-support.cc
  zeek/plugin/src/zeek-reporter.cc
Due: clang-format

Compile fix for GCC on Ubuntu.
  spicy/runtime/include/sink.h
Due: clang-format

Format hexfloats with sprintf instead of iostreams.
  hilti/toolchain/src/compiler/codegen/ctors.cc
  hilti/toolchain/src/compiler/visitors/printer.cc
Due: clang-format

Test llvm-11 support on centos-7.
  .cirrus.yml
Due: none

Dockerfile for CentOS 7.
  docker/Dockerfile.centos-7
  docker/Makefile
Due: none

Enable devtoolset in `make run-*`-style containers and login shells.
  docker/Dockerfile.centos-7
  docker/docker-helper
Due: none

Add preliminary bechmark script.
  scripts/run-benchmarks
Due: none

Add support for macOS in benchmarking script.
  scripts/run-benchmarks
Due: none

Add helper tool that extracts a single sessions out of a Spicy batch file.
  spicy/toolchain/CMakeLists.txt
  spicy/toolchain/bin/spicy-batch-extract.cc
Due: clang-format

Add documentation for benchmarking script.
  doc/development/benchmarking.rst
  doc/development/index.rst
Due: none

Fix zlib decompression.
  spicy/runtime/src/zlib.cc
Due: clang-format

Remove wasteful formatting of debug message in release mode in Spicy runtime driver.
  spicy/runtime/include/driver.h
  spicy/runtime/src/driver.cc
  zeek/plugin/include/file-analyzer.h
  zeek/plugin/include/packet-analyzer.h
  zeek/plugin/include/protocol-analyzer.h
  zeek/plugin/src/file-analyzer.cc
  zeek/plugin/src/packet-analyzer.cc
  zeek/plugin/src/protocol-analyzer.cc
Due: clang-format

Fix fiber result handling.
  hilti/runtime/include/fiber.h
  hilti/runtime/src/fiber.cc
  hilti/runtime/src/tests/fiber.cc
  spicy/runtime/src/driver.cc
Due: clang-format

Disable precompiled headers for gcc CI job.
  .cirrus.yml
  ci/run-ci
Due: none

Optionally precompile libhilti.h.
  CMakeLists.txt
  configure
  hilti/CMakeLists.txt
  hilti/toolchain/CMakeLists.txt
  hilti/toolchain/include/base/util.h
  hilti/toolchain/src/base/util.cc
  hilti/toolchain/src/compiler/clang.cc
  hilti/toolchain/src/config.cc.in
  hilti/toolchain/tests/util.cc
  scripts/CMakeLists.txt
  scripts/precompile-headers.sh
Due: checkbashisms, clang-format

Add missing include.
  spicy/runtime/include/global-state.h
Due: clang-format

Address review feedback.
  hilti/runtime/include/fiber.h
  hilti/runtime/src/fiber.cc
  spicy/runtime/include/driver.h
Due: clang-format

Mention header precompilation in installation docs.
  doc/installation.rst
Due: none

Update doc/installation.rst
  doc/installation.rst
Due: none

Fix "_debug’ was not declared in this scope" build error
  zeek/plugin/include/packet-analyzer.h
Due: clang-format

Pass hook priorities on to linker.
  hilti/toolchain/include/compiler/detail/cxx/unit.h
  hilti/toolchain/src/compiler/codegen/codegen.cc
Due: clang-format

Add HILTI-side validation for hook priorities.
  hilti/toolchain/src/compiler/visitors/validator.cc
Due: clang-format

Add helper to retrieve static integer value from attribute.
  hilti/toolchain/include/ast/attribute.h
Due: clang-format

Fix "foreach" inside a unit hook.
  spicy/toolchain/src/compiler/codegen/unit-builder.cc
  spicy/toolchain/src/compiler/visitors/id-resolver.cc
  tests/spicy/types/vector/parse-size.spicy
Due: clang-format

Add codegen for new look-ahead based while loop.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
Due: clang-format

Extend while-production to support termination of loop by look ahead.
  spicy/toolchain/CMakeLists.txt
  spicy/toolchain/include/compiler/detail/codegen/productions/while.h
  spicy/toolchain/src/compiler/codegen/productions/while.cc
Due: clang-format

Factor out logic to codegen a look-ahead production.
  spicy/toolchain/src/compiler/codegen/parser-builder.cc
Due: clang-format

Replace current productions for look-ahead vectors with new while production.
  spicy/toolchain/src/compiler/codegen/grammar-builder.cc
Due: clang-format

Add additional tuple constructor expression.
  doc/programming/language/types.rst
  spicy/toolchain/src/compiler/parser/parser.yy
  tests/spicy/types/tuple/operators.spicy
Due: none

Fix padding handling when formatting nan and inf values.
  hilti/runtime/src/tests/fmt.cc
Due: clang-format

Forward Zeek plugin's debug messages to Zeek's debug logger.
  zeek/plugin/src/plugin-jit.cc
  zeek/plugin/src/plugin.cc
Due: clang-format

Let Zeek plugin search for HLTO files at startup.
  doc/zeek.rst
  tests/Baseline/zeek.evt.module-path/output
  tests/zeek/evt/module-path.spicy
  zeek/plugin/include/plugin.h
  zeek/plugin/src/config.h.in
  zeek/plugin/src/plugin.cc
Due: clang-format

Force upgrade to well-defined BTest version in our Docker containers.
  ci/Dockerfile
  docker/Dockerfile.alpine-3.12
  docker/Dockerfile.centos-7
  docker/Dockerfile.centos-8
  docker/Dockerfile.ubuntu-19.10
Due: none

Add tests for Spicy-side priorities.
  tests/Baseline/spicy.types.unit.hooks-priorities/output
  tests/hilti/types/function/hook-priorities.hlt
  tests/spicy/types/unit/hooks-priorities.spicy
Due: none

Call hook implementations in order of priority.
  hilti/toolchain/src/compiler/cxx/linker.cc
Due: clang-format
